<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1">
    <test name="PunchTest">
        <classes>
            <class name="FirstTest">
                <methods>
                    <exclude name="linkTest"/>
                    <exclude name="loginTest"/>
                    <exclude name="unFollowTest"/>
                    <exclude name="followTest"/>
                    <exclude name="repoTest"/>
                    <exclude name="marketplaceTest"/>
                    <exclude name="marketPlaceLinkTest"/>
                    <include name="dataProviderTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
